<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %> <%- include('./partials/prism/head') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
      <header class="has-text-centered" style="padding-top: 10rem; padding-bottom: 10rem;">
        <h1 class="title is-size-1"><%- status %> Error</h1>
        <h2 class="subtitle is-size-5 pt-4"><%- message  %> </h2>
        
      </header>

    <%- include('./partials/prism/script') %> <%- include('./partials/dayjs/script') %> <%- include('./partials/footer')
    %>
  </body>
</html>
