<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %> <%- include('./partials/prism/head') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
      <header id="header" class="has-text-centered">
        <h1 class="title is-size-3">Create and share code snippets</h1>
        <form action="/discover" method="GET">
          <div class="field has-addons">
            <div class="control" style="width: 100%">
              <input class="input" type="text" name="search" placeholder="Search for a snippet" />
            </div>
            <div class="control">
              <button class="button is-info">Search</button>
            </div>
          </div>
        </form>
      </header>

      <%- include('./partials/snippet/list-snippets.ejs') %>

      <!-- Discover more button -->
      <a href="/discover?page=2" class="button is-primary is-fullwidth">
        <span>Discover more</span>
      </a>
    </div>
    <%- include('./partials/prism/script') %> <%- include('./partials/dayjs/script') %> <%- include('./partials/footer')
    %>
  </body>
</html>
